html {
    background: red;
}

.App {
    margin: 1rem auto;
    width: 90%;
    max-width: 60rem;
    text-align: center;
}

ul {
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
}

h1:before,
h1:after {
    width: 8rem;
    height: 10rem;
    content: '';
    background-image: url("./img/holly.svg");
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: -1rem;
}

h1:before {
    margin-right: .25rem;
    transform: scaleX(-1);
}

h1:after {
    margin-left: .25rem;
}

h2 {
    margin-top: 0;
}

li {
    list-style: none;
}

.box {
    background: white;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 3px 10px 1rem rgba(0, 0, 0, .6);
}

.podium,
.wooden-spoon {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    align-items: stretch;
    justify-content: space-between;
}

.wooden-spoon {
    justify-content: center;
}

.pie__wrapper {
    border: 1px solid #ccc;
    display: flex;
    align-items: stretch;
    padding: .25rem;
}

.pie {
    display: grid;
    min-width: 15rem;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-gap: .5rem;
    justify-items: center;
    align-items: center;
}

.pie p {
    border: 0;
}

.pie__shop {
    width: 4rem;
}

.pie__name {
    max-width: 9rem;
}

.pie__image {
    width: 50px;
}

.score__tree {
    width: .75rem;
}

.score__tree__half {
    height: .75rem;
    object-fit: cover;
    object-position: bottom;
}

.winners p {
    margin: .25rem 0;
}

/**
 * Full results list.
 */
.list {

}

.list-inner {
    margin: 0 auto;
    padding: 0;
}

.list .pie__wrapper {
    display: block;
    width: 100%;
    border: 0;
}

.list .pie {
    width: auto;
    display: grid;
    grid-template-columns: minmax(4rem, 1fr) minmax(6rem, 1fr) minmax(2.5rem, 1fr) minmax(3rem, 1fr);
    grid-gap: .25rem;
    align-items: center;
    text-align: left;
    border: 0;
}

.list .pie p,
.list .pie__image {
    display: inline-block;
}

.list .pie__name {
    min-width: 5rem;
    padding: .2rem;
}

.list .pie__image {

}

.credits h2 {
    display: inline-block;
    margin: 0;
}

details > summary {
    cursor: pointer;
}

@media screen and (max-width: 50rem) {
    .pie {
        width: 100%;
    }
}

@media screen and (min-width: 30rem) and (max-width: 50rem) {
    .podium {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 50rem) {
    h1:before,
    h1:after {
        width: 4rem;
        height: 4rem;
    }

    h1:before {
        margin-right: 2rem;
    }

    h1:after {
        margin-left: 2rem;
    }

    .podium,
    .wooden-spoon {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-rows: 12rem;
    }

    .wooden-spoon .pie__wrapper {
      grid-column-start: 2;
    }

    .podium {
        padding: 0 2rem;
    }

    /* Dealing with 2 orphan items */
    .podium .pie__wrapper:last-child:nth-child(3n - 1) {
        grid-column-end: 4;
    }

    .podium .pie__wrapper:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 2;
    }

    /* Dealing with single orphan */
    .podium .pie__wrapper:last-child:nth-child(3n - 2) {
        grid-column-end: 3;
    }

    .list {

    }

    .list-inner {
        width: 30rem;
    }

    .score__tree {
        width: 1.5rem;
    }
}

